Program 1

In [1]:
from datetime import date
s = date(2019,7,12)
d = date(2019,10,13)
p = d - s
print("The number of dates b/w two dates are : ",p)

The number of dates b/w two dates are :  93 days, 0:00:00

Program 2

In [2]:
from math import pi
from math import sin
#16 feet and 75 degree
height1 = float(6*sin(75*pi/180))
print(height1)
#20 feet and 0 degree
height2 = float(20*sin(0*pi/180))
print(height2)
#24 feet and 45 degree
height3 = float(24*sin(45*pi/180))
print(height3)
#24 feet and 80 degree
height4 = float(24*sin(80*pi/180))
print(height4)

5.79555495773441
0.0
16.97056274847714
23.63538607229299

Program 3

In [3]:
#a
lst = [1,2,3,4,5]
length = len(lst)
middle_index = int(length/2)
print(middle_index)
#b
lst = [1,2,3,4,5]
print(lst[2])
#c
lst = [1,2,5,4,3]
lst.sort(reverse=True)
print(lst)
#d
lst = [1,2,3,4,5]
a = lst[1:]
print(a)
a.append(1)
print(a)

2
3
[5, 4, 3, 2, 1]
[2, 3, 4, 5]
[2, 3, 4, 5, 1]

Program 4

In [4]:
monthL = ['Jan', 'Feb', 'Mar', 'May']
monthT = ('Jan', 'Feb', 'Mar', 'May')
#list
monthL.insert(3,'Mar')
print(monthL)
#tupple
monthT.insert(3,'Mar')
print(monthT)

['Jan', 'Feb', 'Mar', 'Mar', 'May']

AttributeError: 'tuple' object has no attribute 'insert'

In [5]:
monthL = ['Jan', 'Feb', 'Mar', 'May']
monthT = ('Jan', 'Feb', 'Mar', 'May')
#list
monthL.append('Jun')
print(monthL)
#tupple
monthT.append('Jun')
print(monthT)

['Jan', 'Feb', 'Mar', 'May', 'Jun']

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
monthL = ['Jan', 'Feb', 'Mar', 'May']
monthT = ('Jan', 'Feb', 'Mar', 'May')
#list
monthL.pop()
print(monthL)
#tupple
monthT.pop()
print(monthT)

['Jan', 'Feb', 'Mar']

AttributeError: 'tuple' object has no attribute 'pop'

In [7]:
monthL = ['Jan', 'Feb', 'Mar', 'May']
monthT = ('Jan', 'Feb', 'Mar', 'May')
#list
monthL.remove('Feb')
print(monthL)
#tupple
monthT.remove('Feb')
print(monthT)

['Jan', 'Mar', 'May']

AttributeError: 'tuple' object has no attribute 'remove'

In [8]:
monthL = ['Jan', 'Feb', 'Mar', 'May']
monthT = ('Jan', 'Feb', 'Mar', 'May')
#list
monthL.reverse()
print(monthL)
#tupple
monthT.reverse()
print(monthT)

['May', 'Mar', 'Feb', 'Jan']

AttributeError: 'tuple' object has no attribute 'reverse'

In [9]:
monthL = ['Jan', 'Feb', 'Mar', 'May']
monthT = ('Jan', 'Feb', 'Mar', 'May')
#list
monthL.sort()
print(monthL)
#tupple
monthT.sort()
print(monthT)

['Feb', 'Jan', 'Mar', 'May']

AttributeError: 'tuple' object has no attribute 'sort'

Program 5

In [10]:
a = 'anachronistically'
b = 'counterintuitive'
print("Number of character in anachronistically is "+str(len(a)))
print("Number of character in counterintuitive is "+str(len(b)))
print("The number of charcter in the word anachronistically is " +str(len(a)-len(b))+" less then in word counterintuitive")

var = ['misrepresentation','misinterpretation']
var.sort()
print("\n\n    After sorting ")
print(var)

word='floccinaucinihilipilification'
print("\n\nThe number of time e appear in the floccinaucinihilipilification is : "+str(word.count("e")))

w1='counterrevolution'
w2='counter'
w3='revolution'
print("\n\nNumber of character in the word counterrevolution is : "+str(len(w1)))
print("Sum of the counter and revolution is : "+str(len(w2)+(len(w3))))

Number of character in anachronistically is 17
Number of character in counterintuitive is 16
The number of charcter in the word anachronistically is 1 less then in word counterintuitive


    After sorting
['misinterpretation', 'misrepresentation']


The number of time e appear in the floccinaucinihilipilification is : 0


Number of character in the word counterrevolution is : 17
Sum of the counter and revolution is : 17

program 6

In [11]:
a = 6
b = 7
c = (a+b)/2
print("value of a is: " + str(a)+ " value of b is : "+str(b)+" And their average is : "+str(c) )

inventory=['paper','staples','pencils']
print("\nInventory contain  "+str(inventory))

first = 'john '
middle = 'fitzgerald '
last = 'kennedy'
fullname = first + middle + last
print("\nfullname is "+str(fullname) )

value of a is: 6 value of b is : 7 And their average is : 6.5

Inventory contain  ['paper', 'staples', 'pencils']

fullname is john fitzgerald kennedy